@import "tailwindcss";

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(24, 24, 27, 0.5);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #7f1d1d;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #b91c1c;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #7f1d1d rgba(24, 24, 27, 0.5);
}